*{
    box-sizing: border-box;
    font-size: 20px;
    margin: 1.5px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    color: black;
    background-color: whitesmoke;
}
#nav-bar{
    height: 2em;
    display: flex;

}
#logo-img{
    width: 40%;
    height: auto;
    box-shadow: 0 5px 5px gray;
}